<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>
        Welcome <%= @user.first_name%> <%= @user.last_name%>
        <% avatar_url = @user.facebook_picture_url || @user.photo %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu" %>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <h2>
    <%= @user.first_name%>' organises these parties'
  </h2>
</div>
<%= render 'shared/my_events' %>
