<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= event.photo.file ? cl_image_path(event.photo, height: 300, width: 400) : 'http://lorempixel.com/400/200/people/9' %>');">
  <div class="card-category"><%= event.interests %></div>
  <div class="card-description">
    <h2><%= event.title.capitalize %></h2>
    <p><%= event.postcode %></p>
    <%= link_to "", event_path(id: event.id), class:"card-link" %>
  </div>
    <% if event.user.photo? %>
      <%= cl_image_tag(event.user.photo.path, class: "card-user avatar-large", width: 45, height: 45, crop: :thumb, gravity: :face) %>
    <% else %>
      <% avatar_url = event.user.facebook_picture_url || 'unknown-user.png' %>
      <%= image_tag avatar_url, class: "card-user avatar-large" %>
    <% end %>
</div>



