<div class="container">
  <div class="row">
    <div class="col-xs-12 div-md-5 div-md-offset-4">
      <h1>Create an event</h1>
      <%= simple_form_for(@event) do |e| %>
        <%= e.error_notification %>
        <%= e.input :title, label: "Enter a type", placeholder: "Party at home" %>
        <%= e.input :description, label: "Enter a description", placeholder: "Super party at home, bring your drinks" %>
        <%= e.input :interests, collection: ["party at home", "Dance at home", "Pizza at home"], prompt: "Choose an interest" %>
        <%= e.input :starts_at %>
        <%= e.input :ends_at %>
        <%= e.input :location_id, collection: ["1", "2", "3"], prompt: "Select a place"  %>
        <%= e.input :photo %>
        <%= e.input :photo_cache, as: :hidden %>
        <%= e.button :submit, input_html: { class: 'btn btn-primary'} %>
      <% end %>
    </div>
  </div>
</div>
