<!-- Seo implementation-->
<% content_for(:title) do %>
  <%= @event.title %> is on Eventilize
<% end %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @event.photo.file ? cl_image_path(@event.photo, height: 300, width: 400) : 'http://lorempixel.com/400/200/people/9' %>');">

  <div class="banner-content">
    <h1><%=@event.title%></h1>
    <h2><%=@event.interests%></h1>
    <% if @event.user.photo.file %>
        <h3>Created by <%=@event.user.first_name || '-no first name supplied-' %> <%= cl_image_tag(@event.user.photo, class: "avatar-large", width: 45, height: 45, crop: :thumb, gravity: :face) %></h3>
    <% else %>
    <% avatar_url = @event.user.facebook_picture_url || 'unknown-user.png' %>
    <h3>Created by <%=@event.user.first_name || '-no first name supplied-' %> <%= image_tag avatar_url, class: "avatar-large" %></h3>
    <% end %>

    <p><%=@event.postcode%></p>

    <ul class="list-inline">
      <li> <%= link_to "Back to list", events_path, class:"btn navbar-wagon-button"%> </li>
      <li><%= link_to "I'm up for it!", event_attendances_path(@event.id), method: :post, class:"btn navbar-wagon-button btn-blue-green"%></li>
      <li> <%= link_to "Share", "http://facebook.com", class:"btn navbar-wagon-button"%> </li>
    </ul>

    <h3>Attendees</h3>
    <% if @event.users.first.nil? %>
    <p>No one is attending the event yet</p>
  <% else %>
    <div class="container">
      <div class="row">
        <% @event.users.each do |user| %>
        <div class="attending-row">
        <% avatar_url = user.facebook_picture_url || 'unknown-user.png' %>
        <%= image_tag avatar_url, :class => "avatar-large"%>
        <%= user.first_name || '-no first name supplied-' %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container" id="event-map">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="map" style="width: 100%; height: 450px;"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3><%=@event.title%></h3>
      <p><%=@event.address + "," + " " + @event.city%></p>
      <p><%=@event.description%></p>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>

